# Beginner Python Questions
Topics: variables, data types, arithmetic operators, print statement

## 1. Calculate the Total Bill
A restaurant bill is ₹450. GST is 18%. Calculate the final bill amount.

In [1]:
# Write your solution here
bill=450
gst=18
final_bill_amount=bill+(bill*gst)/100
print(final_bill_amount)

531.0

grocery bill

## 2. Combine Two Numbers
Create two variables `a = 7` and `b = 3` and compute sum, difference, product, and a^b.

In [2]:
# Write your solution here
a=7
b=3
sum=a+b
difference=a-b
product=a*b
a_power_b=a**b
print(sum)
print(difference)
print(product)
print(a_power_b)

10
4
21
343

## 3. Temperature Converter
Convert 36°C to Fahrenheit using F = (C * 9/5) + 32.

In [3]:
# Write your solution here
c=36
f=(c*9/5)+32
print(f)

96.8

## 4. Movie Ticket Cost Calculator
Movie ticket = 180, popcorn = 120. Calculate total for 2 tickets + 1 popcorn and 3 tickets + 0 popcorn.

In [5]:
# Write your solution here
mt=180
pop=120
total1=2*mt+1*pop
total2=3*mt+0*pop
print(total1)
print(total2)

480
540

## 5. Area of a Circle
Radius = 5. Calculate area using 3.14 * r * r.

In [6]:
# Write your solution here
radius=5
area=3.14*radius*radius
print(area)

78.5