Q1. Print numbers from 1 to 20 using while loop.

Approach:
- Initialize a variable
- Use while condition
- Increment inside loop

In [1]:
#write answer here
i=1
while i<=20:
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

Q2. Print even numbers till 50 using while loop.

Approach:
- Start from 2
- Increment by 2
- Stop at 50

In [3]:
#write answer here
i=2
while i<=50:
  print(i)
  i+=2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

Q3. Print multiplication table of 5.

Approach:
- Initialize counter
- Multiply inside loop

In [5]:
#write answer here
i=1
while i<=10:
  result=5*i
  print(f"5*{i}={result}")
  i+=1

5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

Q4. Find sum of numbers from 1 to n.

Approach:
- Take input n
- Add numbers in loop

In [10]:
#write answer here
i=1
result=0
n=int(input("enter n:"))
while i<=n:
  result=result+i
  print(result)
  i+=1

enter n:10
1
3
6
10
15
21
28
36
45
55

Q5. Reverse a number using while loop.

Approach:
- Extract last digit
- Build reversed number

In [ ]:
#write answer here

Q6. Count digits in a number.

Approach:
- Divide number by 10 repeatedly
- Count iterations

In [ ]:
#write answer here

Q7. Check if a number is palindrome.

Approach:
- Reverse number
- Compare with original

In [ ]:
#write answer here

Q8. Guess the number game.

Approach:
- Use while loop
- Continue until correct guess

In [12]:
#write answer here
n=123
i=int(input("enter the number:"))
while i!=n:
   i=int(input("Enter again:"))
print("correct")

enter the number:124
Enter again:123
correct

Submission link for this assignment -